<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New Employee</title>
</head>
<body>

<div align="center">
        <h1>Add New Employee Details</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${Employees}"
            method="post">
 
            <table border="0" cellpadding="10">
            
             <tr>
                    <td>Employee ID:</td>
                    <td><input type="text" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{First_name}" /></td>
                </tr>
                    <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{Last_name}" /></td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><input type="text" th:field="*{Designation}" /></td>
                </tr>
                <tr>
                    <td>Responsibility:</td>
                    <td><input type="text" th:field="*{Responsibility}" /></td>
                </tr>             
                
                  <tr>
                    <td>ReportToid:</td>
                    <td><input type="text" th:field="*{reportToid}" /></td>
                </tr>
             
           
                <tr>
                	<td>Employee List:</td>
                		<td>
                    		<select th:field="*{reportToid}">
                         		<option th:each="Employees : ${Employeeslist}"
                            th:value="${Employees.First_name}" th:text="${Employees.First_name}"></option>
                           
                  			</select>
 	               </td>
    	        </tr>
                              
                <tr>
                    <td colspan="2"><button type="submit">Submit</button> </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>