<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      >
      
<meta charset="ISO-8859-1">
<title>Employees Hierarchy</title>
</head>

  <section th:fragment="category">
    <ul>
        <li th:each="GenerateHierarchy : ${Employeelist}">
            <span th:text="${GenerateHierarchy.designation}">Main Cat</span>
            <section th:include="@{fragment} :: category" th:with="Employeelist=${GenerateHierarchy.subordinates}"></section>
        </li>
    </ul>
</section>