<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employee Hierarchy</title>
</head>
<section th:fragment="category">
	<ul>
		<li th:each="hierarchy : ${HierarchyList}">
			<span th:text="'Name : ' + ${hierarchy.employee.getFullName()} + ', Product : ' + ${hierarchy.Product} + ', ProductionStep : ' + ${hierarchy.ProductionStep} + ', ProductCategory : ' + ${hierarchy.ProductCategory} + ', Department : ' + ${hierarchy.Department?.Dep_Name}">Main Cat</span>
			<section th:include="@{fragment} :: category" th:with="HierarchyList=${hierarchy.SubGenerateHierarchy}"></section>
		</li>
	</ul>
</section>

<section th:fragment="employ">
	<ul>
		<li th:each="Employ : ${EmployeesList}">
			<span th:text="'First_name : ' + ${Employ.First_name} + ', Last_name : ' + ${Employ.Last_name} + ', Designation : ' + ${Employ.Designation}">Main Cat</span>
			<section th:include="@{fragment} :: employ" th:with="EmployeesList=${Employ.SubEmployees}"></section>
		</li>
	</ul>
</section>

<section th:fragment="department">
	<ul>
		<li th:each="department : ${DepartmentList}">
			<span th:text="'Department Name : ' + ${department.name} + ', Department Head : ' + ${department.head}">Main Cat</span>
			<section th:include="@{fragment} :: department" th:with="DepartmentList=${department.subDepartments}"></section>
		</li>
	</ul>
</section>

<section th:fragment="productCategory">
	<ul>
		<li th:each="ProductCategory : ${ProductCategoryList}">
			<span th:text="'Category name : ' + ${ProductCategory.getCategoryName()} + ', Description : ' + ${ProductCategory.Description}">Main Cat</span>
		</li>
	</ul>
</section>

<section th:fragment="productionSteps">
	<ul>
		<li th:each="step : ${ProductionStepsList}">
			<span th:text="'Production steps name : ' + ${step.name} +  ', Report to : ' + ${step.employeeName}">Main Cat</span>
			<section th:include="@{fragment} :: productionSteps" th:with="ProductionStepsList=${step.subSteps}"></section>

		</li>
	</ul>
</section>

<section th:fragment="product">
	<ul>
		<li th:each="Product : ${ProductList}">
			<span th:text="'Production name : ' + ${Product.P_Name} + ', Description : ' + ${Product.P_Description} + ', Remarks : ' + ${Product.P_Remarks} + ', Fun name : ' + ${Product.Fun_Name} + ', Product category name : ' + ${Product.ProductCategoryName}">Main Cat</span>
		</li>
	</ul>
</section>
