<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
    <h1>Employees Hierarchy</h1>
    <a href="/ReportToHierarchy/init">Employees Hierarchy</a>
    <br/><br/>

   <table border="1" cellpadding="10">
          


           
           <table border="1" cellpadding="10">
          
        <tbody>
           <th:block th:each="GenerateHierarchy : ${Employeelist}">
			<tr><td th:text="${GenerateHierarchy.name}"></td>
			    <th:block th:each="sub :*{GenerateHierarchy.subordinates}">
			        <td th:if="${sub!=null}" th:text="${sub.name}"></td>
			    </th:block>
			</tr>    
		
        </tbody> 
        </table>
           
           
           
           
            </tr>
        </tbody> 
        </table>      
                </div>
          
</body>
</html>