<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
    <h1>Employees Hierarchy</h1>
    <a href="/ReportToHierarchy/init">Employees Hierarchy</a>
    <br/><br/>

   <table border="1" cellpadding="10">
          
<!--        <tbody>
            <tr th:each="EmployeeNode : ${Employeelist}">  
           <td th:text="${EmployeeNode.empId}">Product ID</td>  
            <td th:text="${EmployeeNode.name}">Product ID</td>
            <tr th:each="Subordinates : ${EmployeeNode.subordinates}">  
                     
           <td th:text="${Subordinates.name}">Product ID</td> -->
           
           <table border="1" cellpadding="10">
          
        <tbody>
           <th:block th:each="EmployeeNode : ${Employeelist}">
			<tr><td th:text="${EmployeeNode.name}"></td>
			    <th:block th:each="sub :*{EmployeeNode.subordinates}">
			        <td th:if="${sub!=null}" th:text="${sub.name}"></td>
			    </th:block>
			</tr>    
		
        </tbody> 
        </table>
           
           
           
<!--                       <td th:text="${EmployeeNode.subordinates}">Product ID</td>       
      -->             
            </tr>
        </tbody> 
        </table>      
                </div>
          
</body>
</html>