<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      >
      
<meta charset="ISO-8859-1">
<title>Employees Hierarchy</title>
</head>
<body>  
     <div>
    <h1>Employees Hierarchy</h1>
    <a href="/GenerateHierarchy">Generate Employee Hierarchy</a>
    <br/><br/>
       <section th:include="@{fragment} :: category" th:with="Employeelist=${Employeelist}"></section>
    
        </div>

</body>
</html>